.form__app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    
}

.form {
    height: 200px;
    border-radius: 10px;
    background-color: rgb(98, 98, 98);
}

.form button {
    margin-top: 20px;
    margin-bottom: 20px;
}